    // Scss Coded by Mehdi
    // Variables
    //Mixin
    @mixin Button {
        border: 1px solid blue;
        background-color: #0068d2;
        padding: 1rem 1.6rem;
        border-radius: 3px;
        color: white;
    }
    
    section {
        margin-bottom: 14rem;
    }
    
    .pos-relative {
        position: relative;
    }
    
    .pos-abs {
        position: absolute
    }
    
    .d-flex {
        display: flex;
    }
    
    .direction-row {
        flex-direction: row;
    }
    
    .direction-coloumn {
        flex-direction: column;
    }
    
    .jcontent-between {
        justify-content: space-between;
    }
    
    .jcontent-center {
        justify-content: center;
    }
    
    .jcontent-start {
        justify-content: flex-start;
    }
    
    .aitems-start {
        align-items: flex-start;
    }
    
    .aitems-center {
        align-items: center;
    }
    
    .f1rem {
        font-size: 1rem !important;
    }
    
    .f2rem {
        font-size: 2rem !important;
    }
    
    .f3rem {
        font-size: 3rem !important;
    }
    
    .f4rem {
        font-size: 4rem !important;
    }
    
    .w50 {
        width: 50% !important;
    }
    
    .w30 {
        width: 30%;
    }
    
    .cEEE {
        color: #a6a6a6;
    }
    
    .mb1rem {
        margin-bottom: 1rem;
    }
    
    //Custom
    // Body
    #container {
        margin: 5px auto;
        width: 85vw;
        header {
            .logo>img {
                height: 70px;
            }
            nav {
                width: 40%;
                ul {
                    li {
                        list-style: none;
                        font-size: 1.4rem;
                        a {
                            text-decoration: none;
                            color: darkblue;
                        }
                    }
                }
            }
            .contact-us button {
                @include Button;
            }
        }
        #top-page {
            .left-content h4 {
                font-size: 8rem;
                margin-bottom: 5px;
            }
            .left-content p {
                font-size: 2rem;
                margin-bottom: 10px;
            }
            .order-up {
                button {
                    @include Button;
                    margin-bottom: 5px;
                }
            }
            .right-content {
                background-image: url("assets/img/top-header.png");
                background-repeat: no-repeat;
                background-position: right center;
                .top-cart {
                    width: 100px;
                    height: 115px;
                    background-color: darkorange;
                    border-radius: 5px;
                    padding: 27px;
                    font-size: 2.7rem;
                    color: white;
                    transform: rotate(-30deg);
                    top: 15px;
                    left: 222px;
                }
                .bottom-cart {
                    width: 80px;
                    height: 77px;
                    background-color: #ef00ff;
                    border-radius: 5px;
                    bottom: 0;
                    color: white;
                    font-size: 1.6rem;
                    padding: 7px;
                    left: 240px;
                    transform: rotate(20deg);
                    bottom: 13px;
                }
                .click-icon {
                    background: url("assets/img/click\ icon.png");
                    width: 80px;
                    height: 80px;
                    background-repeat: no-repeat;
                    left: -246px;
                    top: 123px;
                }
            }
        }
        #our-process {
            div {
                text-align: center;
                border-radius: 10px;
                padding: 1rem 2rem;
                margin: 0 3rem;
                img {
                    margin: 1rem auto
                }
                h4 {
                    margin: 1rem 0;
                    font-size: 2rem;
                }
                p {
                    color: #9c9a9a;
                    font-size: 1.2rem;
                }
            }
            .our-information {
                h4 {
                    font-size: 4rem;
                }
            }
            .daily-standup {
                background-color: #fee8c1;
                box-shadow: 27px 30px 60px 20px #00000026;
            }
            .weekly-meet {
                background-color: #c1f0fe;
            }
            .user-test {
                background-color: #d6fec1;
            }
        }
    }
    
    #features {
        background-color: #f2fcff;
        .left-mobile {
            background: url(assets/img/feature-phone.png);
            width: 200px;
            height: 370px;
            background-repeat: no-repeat;
            margin-top: -5rem;
        }
        .right-information {
            background-color: #fff;
            height: 320px;
            padding: 1rem 4rem;
            .feature-options {}
        }
    }
    
    #customize {
        div.left-image {
            width: 350px;
            height: 268px;
            img {
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        div.right-information {
            div {
                padding: 2rem 4rem;
                background: #FFF;
                margin-bottom: 1rem;
                border-radius: 8px;
                border-left: 3px solid;
            }
            .red-corner {
                border-left-color: #f83636;
            }
            .blue-corner {
                border-left-color: #3672f8;
            }
            .green-corner {
                border-left-color: #4bf836;
            }
        }
    }
    
    .web-features {
        padding: 1rem 0;
        .left-features {}
        .right-image {}
    }