@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    background: linear-gradient(135deg, #f1f1f1 0%, #ffffff 100%);
}

svg {
    width: 100%;
    position: absolute;
    left: 0;
}